/* image */
.billboard
    height: $billboardHeight
    width: $billboardWidth
    background: url('../img/image.png') no-repeat
    background-size: cover
    overflow: hidden
    transition: .25s ease
    
.billboard-label
    position: absolute
    padding: 3rem
    bottom: 0
    @include billboardLabelStyling()

.billboard-label div h1, h4
    color: white
    font-family: monospace
    text-shadow: 1px 1px 10px grey

.billboard-social
    height: 9.2rem
    width: 10rem
    @include absoluteRight()
    
.billboard-social a
    text-align: center
    width: 44px

.billboard-social img:hover
    width: 100%
    transition: 0.3s ease

.billboard-social img
    width: 80%
    transition: 0.3s ease
