/* image */
.billboard
    height: $billboardHeight
    width: $billboardWidth
    background: url('../img/image.png') no-repeat
    background-size: cover
    overflow: hidden
    transition: .5s ease
    
.billboard-label
    position: absolute
    display: flex
    align-items: center
    width: 100%
    height: 30vh
    padding-left: 3rem
    padding-right: 3rem
    bottom: 0
    @include billboardLabelStyle($billboardWidth,$billboardHeight)

.billboard-label div h1, h4
    color: white
    text-shadow: 2px 2px 15px grey