@mixin billboardLabelStyling ()
    @media screen and (max-height: $xSmallHeight)
        visibility: hidden

@mixin absoluteRight ()
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    right: 0
    @media screen and (min-width: $smallWidth) and (min-height: $xSmallHeight)
        bottom: 0
    @media screen and (max-width: $xSmallWidth)
        visibility: hidden